<h1> User Sign-in Page </h1>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.text_field :username %><br>
  <%= f.password_field :password %> <br>
  <%= f.submit "Sign-In" %> <br>
<% end %>

<%= link_to "<< Back to Home", users_path %>